<template>
    <el-row style="padding: 20px 0">
        <el-col :span="8">
            <el-card
                style="background-color: #1a202c"
                :body-style="{ padding: '0px' }">
                <img
                    :src="cat ? cat.image : ''"
                    class="image"
                />
                <div style="padding: 14px; color: white; text-align: center">
                    <div style="display: flex; justify-content: center">
                        <span>Имя: {{ cat ? cat.name : '' }}</span>
                    </div>
                    <div class="el-space"></div>
                    <div style="display: flex; justify-content: center">
                        <span>Возраст: &nbsp;</span>

                        <span>{{ cat ? formatTextDate(cat.age) : '' }}</span>

                    </div>
                </div>
            </el-card>
        </el-col>
        <el-col :span="16" style="padding: 0 0 0 20px;">
            <el-skeleton
                style="width: 100%;"
                :loading="isLoading"
                :rows="5"
            >
                <template>
                    <el-card
                        v-for="breed in breeds"
                        style="background: none; border: none; box-shadow: none; color: white"
                        :body-style="{ padding: '0px', marginBottom: '1px' }"
                    >
                        <div style="padding: 10px;">
                            <h1>{{ breed.name }}</h1>
                        </div>
                        <div style="padding: 10px; overflow: scroll">
                            <span>{{ breed.description }}</span>
                        </div>
                    </el-card>
                </template>
            </el-skeleton>
        </el-col>
    </el-row>
</template>

<script>
    import { ElMessage } from 'element-plus'
    import { ElNotification } from 'element-plus'
    export default {
        name: "Cat",
        data: () => ({
            isLoading: true,
            breeds: {}
        }),
        beforeCreate() {
            if (!this.$store.getters.CAT) {
                ElMessage.error('Сначала выберите кошку^^');
                return this.$router.push({name:'Cats table'})
            } else {
                this.cat = this.$store.getters.CAT;

                this.$store.dispatch('GET_BREED_FROM_CAT_ID', this.cat.id).then(() => {
                    this.breeds = this.$store.getters.BREED;
                    this.isLoading = false;
                    console.log(this.breeds);
                });

            }
        },
        methods: {
            formatTextDate(val) {
                let res = '';
                let num = val % 100;

                if (num >= 5 && num <= 20) {
                    res = num + ' лет';
                } else {
                    num = num % 10;
                    if (num === 1) {
                        res = num + 'год';
                    } else if (num >= 2 && num <= 4) {
                        res = num + 'года';
                    } else {
                        res = num + 'лет';
                    }
                }

                return res;
            },
        },
        beforeDestroy() {
            this.$store.commit("SET_CAT", null);
        },
    }
</script>
