<template>
    <el-row style="justify-content: center"
            element-loading-text="Загрузка..."
            element-loading-background="#545c64"
            v-loading="togglePagination">
        <el-col
            v-for="cat in cats"
            :span="4"
            style="margin: 30px"
        >
              <el-card
                  :body-style="{ padding: '0px' }"
                  shadow="hover"
                  @click="getCat(cat)"
                  style="max-width: 200px; background-color: #1a202c">
                  <img
                      :src="cat.image"
                      class="image"/>
                  <div style="padding: 14px; color: white; text-align: center">
                      <div style="text-align: center;">
                          <span>{{ cat.name }}</span>
                      </div>
                      <div class="el-space"></div>
                      <div style="display: flex; justify-content: space-between">
                          <span>Возраст</span>
                          <span>{{ formatTextDate(cat.age) }}</span>
                      </div>
                  </div>
              </el-card>
        </el-col>
    </el-row>
    <el-row>
        <el-col>
            <el-pagination
                style="justify-content: center"
                @current-change="loadNewPage"
                :hide-on-single-page="true"
                :disabled="togglePagination"
                background
                layout="prev, pager, next"
                :total="30" />
        </el-col>
    </el-row>
</template>

<script>
    import { ElMessage } from 'element-plus'

    export default {
        name: 'Cats',
        data: () => ({
            togglePagination: false,
            cats: {}
        }),
        created() {
           this.loadNewPage(1);
        },
        methods: {
            loadNewPage(val) {
                this.togglePagination = true;
                this.$store.dispatch('GET_CATS', val).then(() => {
                    this.cats = this.$store.getters.CATS;

                    this.togglePagination = false;
                }).catch(() => {
                    this.togglePagination = false;
                    ElMessage.error('Не удалось загрузить каталог.')
                })
            },
            formatTextDate(val) {
                let res = '';
                let num = val % 100;

                if (num >= 5 && num <= 20) {
                    res = val + ' лет';
                } else {
                    num = num % 10;
                    if (num === 1) {
                        res = val + ' год';
                    } else if (num >= 2 && num <= 4) {
                        res = val + ' года';
                    } else {
                        res = val + ' лет';
                    }
                }

                return res;
            },
            getCat(val) {
                this.$store.commit("SET_CAT", val);
                this.$router.push("/cat");
            }
        }
    }
</script>

<style scoped>
    .bottom {
        margin-top: 13px;
        line-height: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        padding: 0;
        min-height: auto;
    }

    .image {
        width: 100%;
        display: block;
    }
</style>
