<template>


    <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        @select="handleSelect"
    >
        <el-menu-item index="1">
            <router-link to="/cats">
            Таблица животных
            </router-link>
        </el-menu-item>
        <el-menu-item index="2">
            <router-link to="/breeds">
            Таблица пород
            </router-link>
        </el-menu-item>
    </el-menu>
</template>


<script>
    export default {
        name: "Navbar",
        data: () => ({}),
    }
</script>

<style scoped>
</style>
