<template>

   <div class="main-container">

       <navbar />

       <router-view />

   </div>

</template>

<script>
    import Navbar from "../components/Navbar.vue";

    export default {
        name: "Main",
        components: { Navbar },
        data: () => ({}),

    };
</script>

